<div class="ui fluid selection dropdown">
  <h2 class="ui header">Friends (${user.friendships.size()})</h2>
  <div class="menu">

 
<div class="item">
    #{list items:user.friendships, as:'friendship'}
      <div class="ui item"> 
        <i class="user icon"></i>
        <a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName} </a>Online now : ${user.isOnline}
         (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
      </div>
    #{/list}
  </div> 


    </div>
  </div>
</div>
</div>