#{extends 'main.html' /}
#{set title:'Edit Details' /}
 
<div class="ui fluid white segment">
<nav class="ui fluid secondary pointing menu"> 
<div class="item">
 <img class="ui small image" id="logo" src="/public/images/logo.png">
 </div>

   <a class="ui item" href="/home">Home</a>
    <a class="ui item" href="/members">Members</a>
    <a class="ui item" href="/blog">Blog</a>
    
		 <div class="ui grey right dropdown item">
		 <img class="ui avatar image" src="/profile/getpicture/${user.id}">
    ${user.firstName}
    <div class="ui fluid stackable grey menu">
     <div class="header">OPTIONS</div>
      <a class="item" href="/profile">Profile</a>
      <a class="item" href="/editprofile">Settings</a>  
      <a class="ui inverted red button" href="/login">Logout</a>
    </div>
  </div>
		
 </div>
 </nav>
 </div>

 


<section class="ui two column middle aligned grid raised form segment" id="mainBackground">

  <div class="column">
    <img src="/public/images/simpsons3.gif" class="ui large image">
  </div>
  <div class="column">
	  <form action="/editprofile/change" method="POST">
	    <div class="two fields">
	      <div class="field">
	        <label>First Name</label>
	        <input placeholder="First Name" type="text" name="firstName" value="${user.firstName}">
	      </div>
	      <div class="field">
	        <label>Last Name</label>
	        <input placeholder="Last Name" type="text" name="lastName" value="${user.lastName}">
	      </div>
	    </div>
	    <div class="two fields">
	      <div class="field">
	        <label>Nationality</label>
	        <input placeholder="Nationality" type="text" name="nationality" value="${user.nationality}">
	      </div>
	      <div class="field">
	        <label>Age</label>
	        <input placeholder="Age" type="text" name="age"value="${user.age}">
	      </div>
	    </div>    <div class="field">
	      <label>Email</label>
	      <input placeholder="Email" type="text" name="email" value="${user.email}">
	    </div>
	    <div class="field">
	      <label>Password</label>
	      <input type="password" name="password">
	    </div>
	    <button class="ui blue submit button">Submit</button>
	  </form>
  </div>	  

</section>
