#{extends 'main.html' /}
#{set title:'Public Profile Page' /}


<nav class="ui menu">
<div class="item">
 <img class="ui small image" id="logo" src="/public/images/logo.png">
 </div>
 
  <a class="ui item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>   
  <a class="ui active item" href="/home">Back to Home</a> 
  <a class="ui red right item" href="/login">Logout</a>   
     
</nav>

	
<div class ="ui padded container" id="mainBackground">
	<section class="ui raised segment">
	<div class="ui medium header" >${user.firstName} ${user.lastName}'s Profile</h1>
	<section class="ui  two column grid segment">
	  <div class="row">
	    <div class="column">
	      #{include "components/profilesummary.html" /} 
	    </div>
	    <div class="column">
	      #{include "components/comments.html" /} 
	    </div>
	  </div>
	</section>    
	</div>
	</section>
	</div>
