#{extends 'main.html' /}
#{set title:'Public Profile Page' /}


<div class="ui fluid white segment">
<nav class="ui fluid borderless secondary pointing menu"> 
<div class="item">
 <img class="ui small image" id="logo" src="/public/images/logo.png">
 </div>

   <a class="ui item" href="/home">Home</a>
    <a class="ui active item" href="/members">Members</a>
    <a class="ui item" href="/blog">Blog</a>
    
		 <div class="ui grey right dropdown item">
<!-- 		<img class="ui avatar image" src="/profile/getpicture/${user.id}"> -->
    ${user.firstName}
    <div class="ui fluid stackable grey menu">
     <div class="header">OPTIONS</div>
      <a class="item" href="/profile">Profile</a>
      <a class="item">Settings</a>
      <a class="ui inverted red button" href="/login">Logout</a>
    </div>
  </div>
		
 </div>
 </nav>
 </div>

	
<div class ="ui padded container" id="mainBackground">
	<section class="ui raised segment">
	<div class="ui medium header" >${user.firstName} ${user.lastName}'s Profile</h1>
	<section class="ui  two column grid segment">
	  <div class="row">
	    <div class="column">
	      #{include "components/profilesummary.html" /} 
	    </div>
	    <div class="column">
	      #{include "components/comments.html" /} 
	    </div>
	  </div>
	</section>    
	</div>
	</section>
	</div>
