#{extends 'main.html' /} 
#{set title:'Members' /} 

<div class="ui fluid white segment">
<nav class="ui fluid borderless secondary pointing menu"> 
<div class="item">
 <img class="ui small image" id="logo" src="/public/images/logo.png">
 </div>

   <a class="ui item" href="/home">Home</a>
    <a class="ui active item" href="/members">Members</a>
    <a class="ui item" href="/blog">Blog</a>
    
		 <div class="ui grey right dropdown item">
    ${user.firstName}
    <div class="ui fluid stackable grey menu">
     <div class="header">OPTIONS</div>
      <a class="item" href="/profile">Profile</a>
      <a class="item">Settings</a>
      <a class="ui inverted red button" href="/login">Logout</a>
    </div>
  </div>
		
 </div>
 </nav>
 </div>

<section class="ui segment"id="mainBackground">
  <h2 class="ui header">Spacebook's Members</h2>
 #{include "components/members.html" /} 
</section>